{{ block title }}

{{ endblock }}

{{ block content }}

What is your age?<br>
<p> {{ form.age }} </p>
<br>
What is your gender identity?<br>
<p> {{ form.gender }} </p>
<br><br>
   <div style="display:none">
    {% for field in form %}
      {% if field.name in hidden_fields %}
        {{ formfield field.name }}
      {% endif %}
    {% endfor %}
</div>

{{ next_button }}

{{ endblock }}

{{ block scripts }}
    {{ super }}
    {{ load static }}
    <script>
        var PAGE_KEY = 'intro/pdetails';  // or '{{ player.round_number }}' etc.
    </script>
    <script src="{{ static 'data_quality.js' }}"></script>
{{ endblock }}

